div{
    font-size: 28px;
}

#qrcode{
    margin: 20px auto;
}

#header{
    width: 350px;
    margin: 30px auto;
    overflow: hidden;
    font-size: 28px;
    text-align: center;
}
#point{
    margin-left: 20px;
}
#signout{
    float: right;
}

#container{
    text-align: center;
}

.left{
    float:left;
}


