{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interminds Shop</title>
    <script
        src="https://code.jquery.com/jquery-3.6.2.js"
        integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4="
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;," >
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/employee_list.css">
    <script>
        function search(start, end, keyword){
            keyword = $('input[name=keyword]').val();
            window.location.href= '/admin/employee?keyword=' + keyword;
        }
    </script>
</head>
<body>
    <div id="menu">
        <button class="menu left" onclick="location.href='/admin'">HOME</button>
        <button class="menu left" id="employee_insert" onclick="location.href='/auth/signup'">직원추가</button>
        <input class="menu left" id="keyword" type="text" name="keyword" autocomplete="off">
        <button class="menu left" id="search" onclick="search()">조회</button>
        <button class="menu" id="signout" onclick="location.href='/auth/signout'">로그아웃</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th> </th>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>Email</th>
                    <th>직급</th>
                    <th>포인트</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    var cnt = 0;
                </script>
                {% for e in employee %}
                    <tr onclick="location.href='/admin/employee/info?id={{e.user_id}}'">
                        <td>{{e.num}}</td>
                        <td>{{e.name}}</td>
                        <td>{{e.user_id}}</td>
                        <td>{{e.email}}</td>
                        <td>{{e.position}}</td>
                        <td>{{e.point}}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
    </div>
</body>
</html>